* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #1d1b1b;
    padding: 10px;
    
    
}
label{
    font-weight: bold;
}

.app-container {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    background-color: #1c1c1e;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.timer-input input {
    width: 50px;
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 50px;
}

#active-timers {
    
    justify-content: center;
    margin-left: 50px;

}

.timer-display {
    background-color: #333;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer-display p {
    margin: 0;
    font-size: 20px;
}

.timer-display button {
    background-color: #ff3b30;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

h1{
    padding-bottom: 20px;
}
.timer{
    border-radius: 32px;
    width: f100px;
    background-color: maroon;
   
}
#hours{
    background-color: #858589;
    width: 60px;
}
#minutes{
    background-color: #858589;
    width: 60px;
}
#seconds{
    background-color: #858589;
    width: 60px;
}
#set-timer{
    border-radius: 20px;
    width: 70px;
    background-color: #80ff00;
    border: #80ff00;
    height: 40px;
    font-weight: bold;
}